*.iml
.cxx
.DS_Store
.externalNativeBuild
.gradle
build
local.properties

/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/captures
