name: _Reusable validations

on:
  workflow_call:

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '18'
          distribution: 'temurin'
      - uses: gradle/actions/setup-gradle@v5
      - run: ./gradlew check
      - if: always()
        uses: actions/upload-artifact@v4
        with:
          name: check-reports
          path: |
            **/build/reports/tests/
            **/build/reports/detekt/
            **/build/reports/ktlint/
