name: release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version number (e.g., 1.0.8)'
        required: true
        type: string

jobs:
  release:
    name: Create release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Configure git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Create tag
        run: |
          git tag "v${{ inputs.version }}"
          git push origin "v${{ inputs.version }}"
          
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          java-version: 18
          distribution: temurin

      - name: Setup gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run checks
        run: ./gradlew check

      - name: Create github release draft
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "v${{ inputs.version }}"
          name: "Version ${{ inputs.version }}"
          draft: true
          generate_release_notes: true