name: validate main branch

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  validation:
    uses: ./.github/workflows/_reusable-validations.yml

  dependency-submission:
    name: dependencies submit
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '18'
          distribution: 'temurin'
      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5